.link {
  text-decoration: none;
}

.bookmark {
  width: 35px;
  position: relative;
  top: 0;
  left: 0;
}

.count {
  position: relative;
  top: -26px;
  right: 11px;
  background: var(--color-white);
  padding: 3px;
  border-radius: 100px;
  text-decoration: none;
}