@import "../../style-scss/style";

html, body {
  min-height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-around;

  &__link {
    &:not(:last-child) {
      margin-right: 15px;
      @include mobil {
        margin-right: 5px;
      }
    }

    transition: var(--transition);
    text-decoration: none;
    text-shadow: var(--text-shadow-yellow);
    color: var(--color-yellow);
    font-weight: bold;
    padding: 5px;
    border-radius: var(--border-radius-small);
    border: 2px solid transparent;
  }

}

:global {
  .active {

    border: 2px solid var(--color-violet);
    color: var(--color-violet);
  }
}

.logo {
  width: 60px;
}
